---
title: Keenan Tullis
layout: layouts/home.njk
description: keenanjt.com homepage
date: Last Modified
---

<div>
  <img
    class="center avatar"
    src="../img/2021/04/headshot5.jpg"
    alt="headshot"
    width="250px"></img>

  <p>
    I am a software engineer with a focus on web technologies. I bring equally
    a passion for problem solving and a collaborative spirit. My philosophy is
    to make the world a better place in whatever small ways that I can through
    my contribution to the quality of product, by being a friendly and capable
    worker and by writing maintainable code. You can reach me at
    <a href="mailto:keenanjt@gmail.com">keenanjt@gmail.com</a>.
  </p>
</div>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
